# 1. Imports

In [1]:
import pandas as pd

# 2. Load and enrich datasets

In [58]:
df_ec = pd.read_csv('data/DadosFinais.csv')
df_ibge = pd.read_csv('data/dados_ibge.csv', sep=';')

In [70]:
# Convert absolute columns in relative to each 100000 habitants

df_ibge['sus_hab'] = df_ibge['qt_estabelecimentos_saude_sus']*100000 / df_ibge['populacao_estimada']
df_ibge['perc_populacao_exposta_risco'] = df_ibge['populacao_exposta_risco'] / df_ibge['populacao_estimada']


cols = ['municipio', 'densidade_demografica', 'populacao_estimada', 'salario_medio_mensal_trabalhadores_formais','perc_pop_rend_per_capta_meio_sm', 'tx_escolarizacao_16_14', 
        'IDEB_anos_iniciais_ef', 'IDEB_anos_finais_ef', 'idhm', 'pib_per_capta', 'qt_estabelecimentos_saude_sus', 'area_unidade_territorial', 'mortalidade_infantil', 
        'esgotamento_sanitario_adequado', 'populacao_exposta_risco', 'sus_hab', 'perc_populacao_exposta_risco']

df_ibge = df_ibge[cols]

In [53]:
# Convert abslute columns in relative to the number of schools of each city

cols_ec = df_ec.columns.tolist()

cols_ec_qt = matching = [s for s in cols_ec if "QT_" in s]
df_ec[cols_ec_qt] = df_ec[cols_ec_qt].div(df_ec['nEscolas'], axis=0)

In [27]:
cols_ec = df_ec.columns.tolist()
# cols_ec

In [57]:
df_ibge.rename({'municipio':'NO_MUNICIPIO'}, inplace = True, axis = 1)

merge_df = pd.merge(df_ec, df_ibge, on=["NO_MUNICIPIO", "NO_MUNICIPIO"])

merge_df['escolas_hab'] = merge_df['nEscolas']*100000/merge_df['populacao_estimada']
merge_df.head()

,NO_MUNICIPIO,IN_ALMOXARIFADO_1,IN_AREA_VERDE_1,IN_BANHEIRO_EI_1,IN_BANHEIRO_PNE_1,IN_BANHEIRO_FUNCIONARIOS_1,IN_BANHEIRO_CHUVEIRO_1,IN_BIBLIOTECA_1,IN_BIBLIOTECA_SALA_LEITURA_1,IN_DESPENSA_1,...,area_unidade_territorial,mortalidade_infantil,esgotamento_sanitario_adequado,populacao_exposta_risco,escolas_fund_hab,escolas_medio_hab,matriculas_fund_hab,matriculas_medio_hab,sus_hab,escolas_hab
0,Adamantina,0.733333,0.133333,0.400000,0.400000,0.933333,0.333333,0.000000,0.333333,0.933333,...,411.987,2.61,0.958,0,34.136489,22.757659,10317.753819,3993.969220,22.757659,42.670611
1,Adolfo,0.333333,0.000000,0.333333,0.666667,1.000000,0.000000,0.000000,0.333333,1.000000,...,211.055,NaN,0.941,0,56.417489,28.208745,13991.537377,3723.554302,28.208745,84.626234
2,Aguaí,0.823529,0.058824,0.294118,0.705882,0.764706,0.117647,0.176471,0.411765,0.705882,...,474.554,10.44,0.901,0,54.081826,13.520456,11200.346124,2758.173116,32.449095,45.969552
3,Águas da Prata,0.500000,0.000000,0.500000,0.166667,0.500000,0.166667,0.000000,0.166667,1.000000,...,142.673,NaN,0.845,0,72.621641,12.103607,7625.272331,1464.536432,48.414427,72.621641
4,Águas de Lindóia,0.400000,0.066667,0.466667,0.266667,0.600000,0.066667,0.133333,0.200000,0.800000,...,60.126,4.02,0.929,3163,47.598900,15.866300,10143.854453,3009.308229,47.598900,79.331500

# 3. Store Enriched Dataset

In [77]:
merge_df.to_csv('data/DadosFinaisEnrich.csv', index=False)

In [78]:
df = pd.read_csv('data/DadosFinaisEnrich.csv')
df.head()

,NO_MUNICIPIO,IN_ALMOXARIFADO_1,IN_AREA_VERDE_1,IN_BANHEIRO_EI_1,IN_BANHEIRO_PNE_1,IN_BANHEIRO_FUNCIONARIOS_1,IN_BANHEIRO_CHUVEIRO_1,IN_BIBLIOTECA_1,IN_BIBLIOTECA_SALA_LEITURA_1,IN_DESPENSA_1,...,area_unidade_territorial,mortalidade_infantil,esgotamento_sanitario_adequado,populacao_exposta_risco,escolas_fund_hab,escolas_medio_hab,matriculas_fund_hab,matriculas_medio_hab,sus_hab,escolas_hab
0,Adamantina,0.733333,0.133333,0.400000,0.400000,0.933333,0.333333,0.000000,0.333333,0.933333,...,411.987,2.61,0.958,0,34.136489,22.757659,10317.753819,3993.969220,22.757659,42.670611
1,Adolfo,0.333333,0.000000,0.333333,0.666667,1.000000,0.000000,0.000000,0.333333,1.000000,...,211.055,NaN,0.941,0,56.417489,28.208745,13991.537377,3723.554302,28.208745,84.626234
2,Aguaí,0.823529,0.058824,0.294118,0.705882,0.764706,0.117647,0.176471,0.411765,0.705882,...,474.554,10.44,0.901,0,54.081826,13.520456,11200.346124,2758.173116,32.449095,45.969552
3,Águas da Prata,0.500000,0.000000,0.500000,0.166667,0.500000,0.166667,0.000000,0.166667,1.000000,...,142.673,NaN,0.845,0,72.621641,12.103607,7625.272331,1464.536432,48.414427,72.621641
4,Águas de Lindóia,0.400000,0.066667,0.466667,0.266667,0.600000,0.066667,0.133333,0.200000,0.800000,...,60.126,4.02,0.929,3163,47.598900,15.866300,10143.854453,3009.308229,47.598900,79.331500